
/* Your CSS Code here. */
/* *{
	color:rgb(0, 0, 0);
}
table,tr,th,td{
	border: 1px solid black;
}
table{
	width: 100%;
	text-align: center;
}
.html{
	background :rgb(0, 0, 0);
	color:white;
}

.inner-table-3{
	margin-top:30px;
	margin-bottom:30px;
}
.inner-table-2{
	margin-top:40px;
	margin-bottom:40px;
}
.add{
	color: blueviolet;
} */




table,th,tr,td{
	border:1px solid black;
}
.Data1{
	width:250px;
	height:200px;
}
.Row1{
	text-align:center;
}
.tab1{
	width:250px;
}
.Data2{
	height:100px
}
